# Import Packages

In [1]:
!python --version

Python 3.9.5

In [3]:
import os
import molinfo as mi
import pathlib
# plotly
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *
init_notebook_mode(connected=True)

Check version

In [4]:
print(mi.__version__)

1.5.3

# Create a Compound

## Load a SDF File

In [5]:
sdf_file = '../test/Conformer3D_COMPOUND_CID_887.sdf'
sdf_file = pathlib.Path(sdf_file)
print(sdf_file)

..\test\Conformer3D_COMPOUND_CID_887.sdf

## Create a Compound Object

### By SDF file

In [6]:
# compound
comp1 = mi.compound(sdf_file)

# Check Functional Groups

## List Available Functional Groups

In [11]:
comp1.functional_groups

['hydroxyl',
 'carbonyl',
 'carboxyl',
 'ether',
 'pst-alcohols',
 'primary-alcohol',
 'secondary-alcohol',
 'tertiary-alcohol',
 'alkane',
 'alkane CH bond (sp3)',
 'alkene',
 'alkene CH bond (sp2)',
 'aromatic CH bond (sp2)',
 'alkyne',
 'alkyne CH bond (sp)',
 'arene',
 'aldehyde',
 'ketone',
 'carboxylic-acid',
 'ester',
 'pst-amide',
 'primary-amide',
 'secondary-amide',
 'tertiary-amide',
 'pst-amine',
 'primary-amine',
 'secondary-amine',
 'tertiary-amine',
 'nitrile',
 'thiol',
 'alkyl-halids']

## Check which one exists

In [13]:
res, comp1 = mi.check_functional_group(sdf_file, res_format='dataframe')
res

            function_group  result
0                 hydroxyl    True
1                 carbonyl   False
2                 carboxyl   False
3                    ether   False
4             pst-alcohols    True
5          primary-alcohol    True
6        secondary-alcohol   False
7         tertiary-alcohol   False
8                   alkane   False
9     alkane CH bond (sp3)   False
10                  alkene   False
11    alkene CH bond (sp2)   False
12  aromatic CH bond (sp2)   False
13                  alkyne   False
14     alkyne CH bond (sp)   False
15                   arene   False
16                aldehyde   False
17                  ketone   False
18         carboxylic-acid   False
19                   ester   False
20               pst-amide   False
21           primary-amide   False
22         secondary-amide   False
23          tertiary-amide   False
24               pst-amine   False
25           primary-amine   False
26         secondary-amine   False
27          tertiary-amine   False
28                 nitrile   False
29                   thiol   False
30            alkyl-halids   False

### Set a functional group

In [14]:
res, comp1 = mi.check_functional_group(
    sdf_file, functional_groups=['ether'])
res

[{'function_group': 'ether', 'result': False}]

In [15]:
res, comp1 = mi.check_functional_group(
    sdf_file, functional_groups=['ether'], res_format='dataframe')
res

  function_group  result
0          ether   False

# Count Functional Groups

In [18]:
res, comp1 = mi.count_functional_group(sdf_file, res_format='dataframe')
res

            function_group  result  count
0                 hydroxyl    True      1
1                 carbonyl   False      0
2                 carboxyl   False      0
3                    ether   False      0
4             pst-alcohols    True      3
5          primary-alcohol    True      3
6        secondary-alcohol   False      0
7         tertiary-alcohol   False      0
8                   alkane   False      0
9     alkane CH bond (sp3)   False      0
10                  alkene   False      0
11    alkene CH bond (sp2)   False      0
12  aromatic CH bond (sp2)   False      0
13                  alkyne   False      0
14     alkyne CH bond (sp)   False      0
15                   arene   False      0
16                aldehyde   False      0
17                  ketone   False      0
18         carboxylic-acid   False      0
19                   ester   False      0
20               pst-amide   False      0
21           primary-amide   False      0
22         secondary-amide   False      0
23          tertiary-amide   False      0
24               pst-amine   False      0
25           primary-amine   False      0
26         secondary-amine   False      0
27          tertiary-amine   False      0
28                 nitrile   False      0
29                   thiol   False      0
30            alkyl-halids   False      0

In [19]:
res, comp1 = mi.count_functional_group(sdf_file, functional_groups=[
                                       'tertiary-alcohol'], res_format='dataframe')
res

     function_group  result  count
0  tertiary-alcohol   False      0